__pycache__/animal.cpython-38.pyc
__pycache__/animalType.cpython-38.pyc
__pycache__/buyAnimal.cpython-38.pyc
__pycache__/graph.cpython-38.pyc
__pycache__/historicPrice.cpython-38.pyc
__pycache__/login.cpython-38.pyc
__pycache__/mysqlDb.cpython-38.pyc
__pycache__/rationType.cpython-38.pyc
__pycache__/slaughterhouse.cpython-38.pyc
__pycache__/systemParameter.cpython-38.pyc
__pycache__/animalType.cpython-38.pyc
__pycache__/graph.cpython-38.pyc
__pycache__/historicPrice.cpython-38.pyc
__pycache__/login.cpython-38.pyc
__pycache__/mysqlDb.cpython-38.pyc
__pycache__/rationType.cpython-38.pyc
__pycache__/systemParameter.cpython-38.pyc
