body {
    padding-top: 90px;
}

ul.nav li a, ul.nav li a:visited {
    color: brown !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: cyan !important;
}

ul.nav li.active a {
    color: firebrick !important;
}