<!-- ACA VA TODO EL CODIGO QUE SE APLICA PARA TODOS LOS DEMAS ES EL BASE -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) VA PRIMERO JQUERY PARA QUE ANDE EL MENU-->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Hide Navbar -->
    <script src="static\js\jquery.bootstrap-autohidingnavbar.js"></script>
    <script>$(".navbar-fixed-top").autoHidingNavbar();</script>

    <!-- ESTILOS PROPIOS DEL MENU -->
    <style type="text/css">
        .out:hover,
        .out:active {
            color: red !important;
        }

        .menuInicio:hover,
        .menuInicio:active {
            color: red !important;
        }

        ul.nav li.active a {
            color: black !important;
        }
    </style>
    <script type="text/javascript">
        function mostrarMensaje(exitoErrorClass, msj) {
            $('#idMensajeError').empty();
            $('#idMensajeError').addClass(exitoErrorClass);
            $('#idMensajeError').append(msj);
            $('#idMensajeError').show();
        }
        function ocultarMensaje() {
            $('#idMensajeError').hide();
        }
        function RemoveLastRowFromTable(obj) {
            obj = document.getElementById(obj);
            rws = obj.getElementsByTagName('TR');
            obj.removeChild(rws[rws.length - 1]);
        }
    </script>
    {% block head %} {% endblock%}
</head>

<body background="static/bodybackgroud.jpg">
    <!-- MENU se consulta si se muestra o no por la pantalla de login -->
    <!-- navbar navbar-default navbar-fixed-top menu de fondo blanco -->
    <nav id="menu" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/inicio">FeedLot</a>
            </div>


            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class=""><a class="menuInicio" href="/inicio">Home <span class="sr-only">(current)</span></a>
                    </li>


                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle menuInicio" data-toggle="dropdown" role="button"
                            aria-haspopup="true" aria-expanded="false">Gestión <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li role="separator" class="divider"></li>
                            <li><a class="menuInicio" href="/PrecioHistoria">Precio histórico</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a class="menuInicio" href="/Parametros">Parámetros</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a class="menuInicio" href="/TipoAnimal">Tipo de animales</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a class="menuInicio" href="/TipoRacion">Tipo de ración</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a class="menuInicio" href="/Frigorifico">Frigorífico</a></li>                            
                            <li role="separator" class="divider"></li>
                            <li><a class="menuInicio" href="#">One more separated link</a></li>
                        </ul>
                    </li>




                    <li><a class="menuInicio" href="/historiaAnimal">TEST DE GRAFICA</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a class="menuInicio" href="#">Animal2</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a class="menuInicio" href="#">Animal3</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="out" href="/salir">Salir</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% block body %} {% endblock %}
</body>

</html>